.imagecard {
  background-color: whitesmoke !important;
  border-radius: 25px;
  padding: 20px;
  max-width: 300px;
  height: 300px;
  resize: both;
  overflow: auto;
  align-items: center;
  position: absolute;
  margin-top: 0px;
  margin-left: 15px;
  opacity: 0.7;
}

.image {
  max-width: 150px;
  max-height: 200px;
  opacity: 1;
}

.textalerts {
  margin-top: 100px;
  width: 500px;
  margin-left: 50px;
}

.textbox {
  background-color: whitesmoke !important;
  opacity: 0.7;
}
